[submodule "nodeular-config"]
	path = nodeular-config
	url = ../nodeular-config
[submodule "nodeular-core"]
	path = nodeular-core
	url = ../nodeular-core
[submodule "nodeular-module-a"]
	path = nodeular-module-a
	url = ../nodeular-module-a
[submodule "nodeular-module-b"]
	path = nodeular-module-b
	url = ../nodeular-module-b
[submodule "nodeular-web"]
	path = nodeular-web
	url = ../nodeular-web
